body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

p {
    font-size: 17px;
    color: #3e3c3c;
    line-height: 1.5em;
}


.main {
  padding-top: 90px;
}

.main h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

img {
  width: 100%;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}


:root {
  --White: #fff;
  --Black: #000;
  --Green: #008000;
  --Gry: #eee;
}



.banner img {
  width: 100%;
  border-radius: 20px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  background-color: var(--White);
  border-bottom: 1px solid var(--Gry);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.logo h3 {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo h3 span {
  color: var(--Green);
}

.logo .blink {
  color: #f5c518;
}

.logo .it {
  color: var(--Green);
}

.delivery p {
  margin: 0;
  font-size: 14px;
}

.delivery p strong {
  font-size: 16px;
}

.search-box {
  display: flex;
  width: 50%;
  justify-content: center;
  position: relative;
}

.search-box i {
  position: absolute;
  left: 18px;
  top: 37%;
  color: #afafaf;
}

.search-box input {
  width: 100%;
  padding: 15px 13px 13px 44px;
  border-radius: 85px;
  border: 1px solid var(--Gry);
  background: var(--White);
  outline: none;
  font-size: 18px;
}

.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

button.cart-btn.my-cart {
  width: 140px;
  gap: 14px;
}

.cart-btn {
  background-color: var(--Green);
  border: none;
  padding: 12px 10px;
  border-radius: 8px;
  color: var(--White);
  font-size: 16px;
  gap: 8px;
  width: 186px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  min-height: 50px;
}

.header-right a {
  color: var(--Green);
}

.container {
  width: 95%;
  margin: auto;
  max-width: 100rem;
}

.product-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 12px;
  width: 100%;
}

.product-card {
  background: var(--White);
  border-radius: 10px;
  position: relative;
  border: 1px solid #b7b7b7;
  overflow: hidden;
}

.imgbox {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 270px;
  margin-bottom: 10px;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  object-fit: cover;
}

.time {
  font-size: 12px;
  color: var(--Green);
}
 

.bottom {
  padding: 10px;
}

 
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #0089ca;
  color: var(--White);
  font-size: 12px;
  padding: 5px 8px;
  z-index: 9;
  border-bottom-right-radius: 12px;
  font-weight: 500;
}

h2 {
  margin-top: 30px;
}

.footer {
  background: var(--Black);
  color: var(--White);
  padding: 40px 0 20px;
  margin-top: 50px;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-col h3 {
  color: #f5c518;
}

.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col p {
  font-size: 14px;
  color: var(--Gry);
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 8px 0;
}

.footer-col ul li a {
  text-decoration: none;
  color: var(--Gry);
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: var(--White);
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--Black);
  margin-top: 20px;
  padding-top: 15px;
  font-size: 13px;
  color: var(--Gry);
}


.price {
  font-weight: bold;
}

.add-btn {
  width: 100%;
  padding: 11px;
  border: 1px solid #000000;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  min-width: 95px;
  font-weight: 600;
  transition: 0.4s;
  text-transform: uppercase;
}


.qty-box {
  display: flex;
  justify-content: space-between;
  background: var(--Green);
  color: var(--White);
  border-radius: 6px;
  padding: 5px 10px;
  min-width: 95px;
  align-items: center;
  font-weight: 800;
}

.qty-box button {
  background: none;
  border: none;
  color: var(--White);
  font-size: 25px;
}

.cart-sidebar {
  position: fixed;
  right: -410px;
  top: 0;
  width: 410px;
  height: 100%;
  background: var(--White);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: auto;
  z-index: 9999;
}

.cart-item .cart-info h4 {
  font-size: 12px;
}

.cart-sidebar.active {
  right: 0;
}

.cart-header {
  padding: 15px;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: var(--Gry);
  position: fixed;
  top: 0;
}

.itemscart {
  margin-top: 55px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.product-card h4 {
  font-size: 17px;
  margin-bottom: 8px;
}

.cart-item {
  display: flex;
  gap: 10px;
  background-color: #99999912;
  align-items: center;
  padding: 7px;
  border-radius: 5px;
}

.cart-item img {
  width: 60px;
}

.cart-info {
  flex: 1;
}

.cart-info p {
  margin: 2px 0;
  font-size: 13px;
}

.cart-price {
  font-weight: bold;
}

button {
  cursor: pointer;
}

.cart-sidebar.active .bottom-bar {
  right: 0;
}

.bottom-bar {
  position: fixed;
  bottom: 3px;
  right: -410px;
  width: 410px;
  background-color: var(--Green);
  color: var(--White);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  transition: 0.3s;
}

.bill-box {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin: 15px;
}

.bill-box h3 {
  margin-bottom: 10px;
}

.bill-row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 14px;
}

.bill-row i {
  margin-right: 6px;
}

.free {
  color: green;
  font-weight: 600;
}

.total {
  font-weight: 600;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}


p.oldprice {
    color: #a8a0a0;
    text-decoration: line-through;
}

.pricebox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.product-details img {
  width: 500px;
  margin: 0 auto;
  padding-top: 40px;
}

.product-details p.oldprice,
.product-details .price {
  font-size: 20px;
  margin-top: 10px;

}

.product-details {
  display: grid;
  justify-content: space-between;
  gap: 55px;
  margin-top: 70px;
  grid-template-columns: 1fr 1px 1fr;
}

.boder-med {
  background-color: var(--Gry);
}

.product-content {
  width: 80%;
  padding-top: 40px;
}

p.declaration {
  margin-bottom: 18px;
}

.all-img img {
  width: 70px;
  margin: 0;
}

.all-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

























.product-details-img {
  text-align: center;
}